<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('Imágenes/Imagen_fondo_1');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>